<a href="https://colab.research.google.com/github/ayalazech/Mat/blob/main/Module_A_Section_9_1%2C_9_2%2C_9_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Section 9.1: Base-N and Binary**

In [ ]:
#Base 10 

#because the english number system is inherently base 10, it is the easiest to convert into decimal expansion
156 == 1*(10**2) + 5*(10**1) + 6*(10**0)
#results in true

True

In [ ]:
#Base 5

156 == 125 + 25 + 5 + 1 == 1*(5**3) + 1*(5**2) + 1*(5**1) + 1*(5**0) 
#results in true
#thus, 156(base 10) = 1111(base 5)

True

In [ ]:
#Base 2 (Binary)

156 == 128 + 16 + 8 + 4 == 1*(2**7) + 0*(2**6) + 0*(2**5) + 1*(2**4) + 1*(2**3) + 1*(2**2) + 0*(2**1) + 0*(2**0) 
#results in true
#thus, 156(base 10) = 10011100(base 2)

True

In [ ]:
#Base-10 to Base-N

import math

def baseN(x, N):  #takes any base 10 number and the base you want to convert it to
 st = ''
 
 while x>0:          #loops till x is 0
  left = x % N       #stores the remainder
  x= math.trunc(x/N) #gets rid of any decimals
  st += str(left)    #adds remainder as a string
 return st[::-1]     #reverses string


#example:
baseN(78,2)  #prints 1001110
#converts 78(base-10) into binary

'1001110'

In [ ]:
#Binary Addition

def BinAdd(binNum1, binNum2):   #takes two binary numbers
  num1 = int(binNum1, 2)        #converts both numbers into integers
  num2 = int(binNum2, 2)

  sum = num1 + num2
  binSum = bin(sum)             #the bin() function converts integers into binary with the addition of 0b at the beginning of the number
  print(binSum[2:])             #prints the string startng at an index of 2


#example:
BinAdd('1100100', '1001110')
#prints 10110010

10110010

In [ ]:
#Binary Multiplication

def BinMul(binNum1, binNum2):   #takes two binary numbers
  num1 = int(binNum1, 2)        # converts both numbers into integers
  num2 = int(binNum2, 2)

  product = num1 * num2
  binProd = bin(product)        #the bin() function converts integers into binary with the addition of 0b at the beginning of the number
  print(binProd[2:])            #prints the string startng at an index of 2


#example:
BinMul('1100100', '1001110')
#prints 1111001111000

1111001111000

**9.2: Floating Point Numbers**

In [ ]:
import sys
sys.float_info
import numpy as num

space = num.spacing(1e17)
print(1e17 == (1e17 + .5*space))  #adding less than or equal to half of the gap will not change the number 
print(1e17 == (1e17 + .51*space)) #adding more than half of the gap will change the number 

sys.float_info.max == sys.float_info.max + 10000000  #essentially like adding zero because already at max
print(sys.float_info.max + sys.float_info.max)       #when the number added is big enough it goes into overflow and results in inf

print(2**(-1074))          #prints 5e-324
print((2**(-1074))*.5)     #too small so underflows to 0.0

True
False
inf
5e-324
0.0

**9.3: Round-off Errors**

In [ ]:
#Accumulation of round-off error

def RoundOffError(num, x):    #takes a number and the number of times you want to add and subtract .2
  
  for i in range(x):
    num+=.2                   #adding 0.2 to any number x amount of times
    
  for i in range(x):  
    num-=.2                   #subtracting 0.2 to any number x amount of times

  return num
  #Should result in original num


#example:
print(RoundOffError(.6, 100))        #prints 0.29999999999999993
print(RoundOffError(.6, 10000))      #prints 0.2999999999999893
print(RoundOffError(.6, 10000000))   #prints 0.2999999999972608
# That is clearly not the case 

round(RoundOffError(.6, 100),2) == round(RoundOffError(.6, 10000),2) == round(RoundOffError(.6, 10000000),2) == .6  #prints true
# that can be fixed with the round() function

0.5999999999999988
0.5999999999999126
0.5999999999196355

True